.orderTypes {
	display: flex;
	column-gap: 8px;
	padding-top: 24px;
}
.orderType {
	padding: 7px 12px;
	color: #ea7c69;
	font-size: 14px;
	font-weight: 600;
	border-radius: 8px;
	border: 1px solid #393c49;
	background-color: #1f1d2b;
	transition: all 200ms ease;
}
.orderType.active {
	color: #fff;
	background-color: #ea7c69;
	border-color: transparent;
}
.orderType:hover {
	background-color: #ea7c69;
	color: #fff;
	border: 1px solid transparent;
}
