.orderTypes {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 24px;
	background-color: #fff;
	border-radius: 24px;
	padding: 3px;
	position: relative;
}
.orderType {
	padding: 7px 12px;
	width: 100%;
	color: #ea7c69;
	white-space: nowrap;
	font-size: 14px;
	font-weight: 600;
	border-radius: 24px;
	transition: color 0.25s ease-in-out, border-color 0.25s ease-in-out,
		background-color 0.25s ease-in-out;
}
.indicator {
	height: 31px;
	border-radius: 24px;
	background-color: #ea7c69;
}
.orderType.active {
	color: #fff;
}
