.pagination {
	color: #fff;
	width: 222px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.pagination__button {
	padding: 7px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.pagination__button svg {
	color: #fff;
}
.pagination__page {
	min-width: 120px;
	user-select: none;
}
