.pagination {
	color: #fff;
	width: 222px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.pagination__button {
	width: 38px;
	height: 38px;
	padding: 7px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.pagination__button svg {
	width: 100%;
	height: 100%;
}
.pagination__button svg path {
	fill: #fff;
}
.pagination__page {
	min-width: 120px;
	user-select: none;
}
