.product {
	width: 700px;
	height: 440px;
	background-color: #fff;
	color: #000;
	display: flex;
	border-radius: 20px;
}
.product__image-wrapper {
	width: 350px;
	height: 350px;
	flex-shrink: 0;
	margin: auto 0;
	padding-left: 10px;
	box-sizing: initial;
	pointer-events: none;
}
.product__image {
	width: 100%;
	height: 100%;
	transition: transform 0.15s ease-in-out;
}
.product__image.small {
	transform: scale(0.6);
}
.product__image.medium {
	transform: scale(0.8);
}
.product__image.big {
	transform: scale(1);
}
.product__summary {
	width: 100%;
	max-width: 390px;
	padding: 20px 10px;
	display: flex;
	flex-direction: column;
}
.product__title {
	font-size: 24px;
	font-weight: 500;
}
.product__description {
	color: #5c6370;
	font-size: 14px;
	margin: 15px 0;
}
.product__options {
	background-color: #f3f3f7;
	display: flex;
	justify-content: space-between;
	border-radius: 24px;
	padding: 3px;
}
.product__size {
	padding: 10px 16px;
	width: 100%;
	border-radius: inherit;
	font-size: 13px;
	cursor: pointer;
	transition: background-color 0.25s ease-in-out, color 0.25s ease-in-out;
	color: #333;
}
.product__size.active {
	color: #000;
	font-weight: 600;
	background-color: #fff;
	box-shadow: 0 2px 4px #0000001a;
}
.product__price {
	margin-top: auto;
	margin-left: auto;
}
.product__actions {
	padding-top: 15px;
	margin-left: auto;
	display: flex;
	gap: 10px;
}
.product__add-basket,
.product__close-button {
	font-weight: 500;
	padding: 10px 15px;
	border-radius: 24px;
	white-space: nowrap;
}
.product__add-basket {
	color: #fff;
	background-color: #ea7c68;
}
.product__close-button {
	background-color: #f3f3f3;
	transition: background-color 0.25s ease-in-out;
}
@media (hover: hover) and (pointer: fine) {
	.product__size:not(.active):hover,
	.product__close-button:hover {
		background-color: #e6e6e6;
	}
}
