.product-categories {
	display: flex;
	justify-content: space-between;
	gap: 20px;
	overflow-x: scroll;
	z-index: 1;
	backdrop-filter: blur(10px);
	position: sticky;
	top: 0;
	width: 100%;
	max-width: 970px;
}
.product-categories::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	height: 0.5px;
	width: 100%;
	background-color: #393c49;
}
.product-categories::-webkit-scrollbar {
	width: 0;
	height: 0;
}
.product-category {
	list-style: none;
	color: #fff;
	padding: 13px 0;
	font-size: 15.5px;
	font-weight: 600;
	cursor: pointer;
	white-space: nowrap;
	position: relative;
	transition: color 0.22s ease-in-out;
	text-transform: capitalize;
}
.product-category:hover {
	filter: drop-shadow(0 0 3px #000);
}
.product-category::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 0.5px;
	background-color: #ea7c69;
	transition: width 0.22s ease-in-out;
}
.product-category:hover::before {
	width: 100%;
}
.product-category:hover {
	color: #ea7c69;
}
.product-category__link {
	color: currentColor;
}
