.product {
	position: relative;
	border-radius: 16px;
	background-color: #1f1d2b;
	padding: 104px 20px 10px 20px;
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 0;
}
.product.new::before {
	content: '';
	background-image: url('../../assets/icons/new.svg');
	position: absolute;
	top: -10px;
	right: -10px;
	width: 33px;
	height: 33px;
	pointer-events: none;
	background-size: contain;
	background-position: center;
}
.product__image {
	width: 132px;
	height: 132px;
	object-fit: cover;
	position: absolute;
	pointer-events: none;
	top: -36px;
	animation: imageRotate 1s ease-in-out;
	transition: transform 0.25s ease-in-out;
}
.product__title {
	text-align: center;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	line-clamp: 1;
	-webkit-line-clamp: 1;
}
.product__description {
	font-size: 14px;
	font-weight: 500;
	text-align: center;
	height: 51px;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	line-clamp: 3;
	-webkit-line-clamp: 3;
}
.product__price {
	font-size: 14px;
	font-weight: 400;
	padding: 8px 0 4px;
	margin: 10px 0;
}
.product__actions {
	display: flex;
	align-items: center;
	margin-left: auto;
	width: 100%;
	margin-top: auto;
}
.product__basket-btn {
	padding: 5px 11px;
	font-size: 14px;
	font-weight: 600;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 30px;
	border-radius: 20px;
	color: #fff;
	opacity: 0;
	overflow: hidden;
	visibility: hidden;
	transform: translateY(-10px);
	transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out;
}
.product__basket-btn svg {
	width: 100%;
	height: 100%;
	fill: currentColor;
}
@media (hover: hover) and (pointer: fine) {
	.product:hover .product__image {
		transform: translateY(5px);
	}
	.product:hover .product__basket-btn {
		opacity: 1;
		overflow: visible;
		visibility: visible;
		transform: translateY(0);
	}
}
@keyframes imageRotate {
	0% {
		transform: rotateY(0deg);
	}
	100% {
		transform: rotateY(360deg);
	}
}
