.product {
	position: relative;
	height: 250px;
	border-radius: 16px;
	background-color: rgb(31, 29, 43);
	padding: 104px 24px 0 24px;
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 0;
}
.product.new::before {
	content: '';
	background-image: url('../../assets/icons/new.svg');
	position: absolute;
	top: -10px;
	right: -10px;
	width: 33px;
	height: 33px;
	pointer-events: none;
	background-size: contain;
	background-position: center;
}
@media (hover: hover) and (pointer: fine) {
	.product:hover .product__price {
		opacity: 0;
		visibility: hidden;
	}
	.product:hover .product__button {
		transform: translateX(-50%) scaleY(1);
		opacity: 1;
		visibility: visible;
	}
}
.product__image {
	width: 132px;
	height: 132px;
	object-fit: cover;
	position: absolute;
	pointer-events: none;
	top: -36px;
	animation: imageRotate 1s ease-in-out;
}
.product__image.drink {
	transform: rotate(15deg);
}
.product__description {
	font-size: 14px;
	font-weight: 500;
	text-align: center;
	height: 51px;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	line-clamp: 3;
	-webkit-line-clamp: 3;
}
.product__bottom {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.product__price,
.product__button {
	transition: opacity 200ms ease-in-out;
}
.product__price {
	font-size: 14px;
	font-weight: 400;
	padding: 8px 0 4px;
	opacity: 1;
}
.product__button {
	position: absolute;
	bottom: 21px;
	left: 50%;
	transform: translateX(-50%) scaleY(0);
	transform-origin: top;
	opacity: 0;
	visibility: hidden;
	padding: 5px 11px;
	font-size: 14px;
	font-weight: 600;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 46px;
	height: 34px;
	color: #fff;
}
.product__button svg {
	width: 100%;
	height: 100%;
	fill: currentColor;
}
/* @media (max-width: 440px) {
	.product__image {
		width: 115px;
		height: 115px;
	}
}
@media (max-width: 516px) and (min-width: 440px) {
	.product {
		width: 80%;
	}
}
@media (max-width: 440px) {
	.product {
	}
}
@media (max-width: 724px) and (min-width: 664px) {
	.product {
		width: 31.5%;
	}
	.product__image {
		width: 124px;
		height: 124px;
	}
}
@media (max-width: 768px) {
	.product {
	}
	.product__button {
		bottom: 21px;
		right: 24px;
		opacity: 1;
		visibility: visible;
		padding: 5.5px;
		font-weight: 600;
		display: flex;
		align-items: center;
		justify-content: center;
		transform: translateX(0) scaleY(1);
		left: initial;
	}
	.product__button svg {
		width: 20px;
		height: 20px;
	}
	.product:hover .product__button {
		transform: initial;
		opacity: initial;
		visibility: initial;
	}
	.product:hover .product__price {
		opacity: initial;
		visibility: initial;
	}
	.product__bottom {
		align-self: flex-start;
	}
}
@keyframes imageRotate {
	0% {
		transform: rotateY(0deg);
	}
	100% {
		transform: rotateY(360deg);
	}
}
@media (max-width: 550px) {
	.product {
	}
} */
