.products-list {
	color: #fff;
	padding-top: clamp(33px, 22.6px + 3.24vw, 55px);
	padding-bottom: clamp(33px, 22.6px + 3.24vw, 55px);
}
/* .products-list__wrapper {
	display: flex;
	flex-wrap: wrap;
	row-gap: 55px;
	column-gap: 15px;
	width: 100%;
	padding-top: clamp(65px, 60.2px + 1.47vw, 75px);
} */
.products-list__wrapper {
	padding-top: clamp(65px, 60.2px + 1.47vw, 75px);
	width: 100%;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-auto-rows: minmax(100px, auto);
	row-gap: 63px;
	column-gap: 20px;
}
.products-list__title {
	text-transform: capitalize;
	font-size: 25px;
	font-size: clamp(21px, 19.1px + 0.59vw, 25px);
}
