.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 24px;
	color: #fff;
}
.header__title {
	font-size: 28px;
	font-weight: 600;
}
.header__date {
	color: rgb(224, 230, 233);
	font-size: 16px;
	font-weight: 400;
	padding-top: 4px;
	display: block;
	flex-shrink: 0;
	white-space: nowrap;
}
@media (max-width: 680px) {
	.header {
		flex-direction: column;
	}
	.header__info {
		text-align: center;
		padding-bottom: 24px;
	}
}
.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 10;
}
