.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 24px;
	color: #fff;
}
.header__info {
	display: flex;
	/* align-items: center; */
	justify-content: space-between;
}
.header__title {
	font-size: 28px;
	font-weight: 600;
}
.header__date {
	color: rgb(224, 230, 233);
	font-size: 16px;
	font-weight: 400;
	padding-top: 4px;
	display: block;
	flex-shrink: 0;
	white-space: nowrap;
}
.header__button {
	width: 33px;
	height: 33px;
	display: flex;
	color: #fff;
}
.header__button svg {
	width: 100%;
	height: 100%;
}
.header__button svg path {
	stroke: currentColor;
}
@media (max-width: 680px) {
	.header {
		flex-direction: column;
		align-items: initial;
	}
	.header__info {
		align-items: center;
		padding-bottom: 25px;
	}
}
@media (min-width: 971px) {
	.header__button {
		display: none;
	}
}
