.navigation {
	padding: 20px 0;
	background-color: #1f1d2b;
	height: 100svh;
	min-height: 100svh;
	display: flex;
	align-items: center;
	top: 0;
	width: 77px;
	flex-direction: column;
	justify-content: space-between;
	border-radius: 0 10px 10px 0;
	position: relative;
	z-index: 49;
}
.navigation.closed {
	animation: slideOut 0.25s ease-in-out forwards;
}
.navigation__list {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: clamp(20px, 12px + 2.5vw, 48px);
	height: 100%;
	max-height: 550px;
}
.appLogo {
	padding: 8px;
	border-radius: 12px;
	background: rgba(235, 149, 106, 0.642);
}
.navigation__item {
	list-style: none;
	width: clamp(44px, 34.8px + 1.4vw, 55px);
	height: clamp(44px, 34.8px + 1.4vw, 55px);
}
.navigation__link {
	color: #eb786a;
	transition: color 0.23s ease-in-out, background-color 0.23s ease-in-out;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	border-radius: 10px;
}
@media (hover: hover) and (pointer: fine) {
	.navigation__link:hover {
		color: #fff;
		background-color: #ea7c69;
	}
}
.navigation__link.active {
	color: #fff;
	background-color: #ea7c69;
}
.navigation__link svg path {
	fill: currentColor;
}
.basket-button {
	position: relative;
	width: 23px;
	height: 23px;
	color: #eb786a;
	transition: color 0.23s ease-in-out;
	display: flex;
	align-items: center;
	justify-content: center;
}
.basket-button svg {
	fill: currentColor;
	width: 100%;
	height: 100%;
}
.basket-button::before {
	content: attr(data-count);
	position: absolute;
	bottom: -6.5px;
	right: -11.5px;
	color: #ea7c69;
	width: 18.3px;
	font-weight: bold;
	height: 18.3px;
	border-radius: 50%;
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 12.3px;
	transition: color 0.23s ease-in-out, background-color 0.23s ease-in-out;
}
.basket-button.active {
	color: #fff;
}
.basket-button.active::before {
	color: #fff;
	background-color: #ea7c69;
}
.navbar__toggle {
	position: absolute;
}
@media (hover: hover) and (pointer: fine) {
	.basket-button:hover {
		color: #fff;
	}
	.basket-button:hover::before {
		color: #fff;
		background-color: #ea7c69;
	}
}
@media (min-width: 656px) {
	.navbar__toggle {
		display: none;
	}
}
@media (max-width: 655px) {
	.basket-button {
		display: none;
	}
}
@media (max-width: 655px) {
	.navigation {
		animation: slideIn 0.25s ease-in-out;
		width: 100vw;
		border-radius: 0;
	}
}
@keyframes slideIn {
	from {
		opacity: 0;
		transform: translateY(-100px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
@keyframes slideOut {
	to {
		transform: translateY(-100px);
		opacity: 0;
	}
}
