.dishes-type {
	display: flex;
	justify-content: space-between;
	gap: 20px;
	overflow-x: scroll;
	position: relative;
	width: 100%;
	max-width: 970px;
}
.dishes-type::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	height: 0.5px;
	width: 100%;
	background-color: #393c49;
}
.dishes-type::-webkit-scrollbar {
	width: 0;
	height: 0;
}
.dishes-type__item {
	list-style: none;
	color: #fff;
	padding-bottom: 13px;
	font-size: 15.5px;
	font-weight: 600;
	cursor: pointer;
	white-space: nowrap;
	position: relative;
	transition: color 0.22s ease-in-out;
}
.dishes-type__item:hover {
	filter: drop-shadow(0 0 3px #000);
}
.dishes-type__item::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 0.5px;
	background-color: #ea7c69;
	transition: width 0.22s ease-in-out;
}
.dishes-type__item:hover::before {
	width: 100%;
}
.dishes-type__item:hover {
	color: #ea7c69;
}
.dishes-type__item.active {
	color: #ea7c69;
	filter: drop-shadow(0 0 3px #000);
}
.dishes-type__item.active::before {
	left: 0;
	width: 100%;
	transform: translateX(0);
}
