/* ----------------------------------Dishes---------------------------------------- */

.dishes {
	padding-top: 24px;
}
.dishes__info {
	display: flex;
	justify-content: space-between;
	padding-top: 25px;
}
.dishes__title {
	color: #fff;
	font-size: 20px;
	font-weight: 600;
}
.dishes__select {
	border: 1px solid rgb(57, 60, 73);
	border-radius: 8px;
	background-color: rgb(31, 29, 43);
	padding: 14px;
	color: #fff;
}
.dishes__option {
	font-size: 14px;
	font-weight: 500;
}
.dishes__content {
	height: 630px;
	min-height: 370px;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.dishes__wrapper {
	display: flex;
	flex-wrap: wrap;
	row-gap: 55px;
	column-gap: 15px;
	justify-content: space-between;
	padding-top: 55px;
	width: 100%;
	padding-bottom: 44px;
}
.dishes__paginationButtons {
	margin-top: auto;
	width: 222px;
	/* height: 55px;/ */
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: #fff;
	padding-bottom: 25px;
}
.dishes__paginationButton {
	padding: 7px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.dishes__paginationButton svg {
	color: #fff;
}
.dishes__paginationPage {
}

/* ----------------------------------Dishes---------------------------------------- */

/* ----------------------------------Dish------------------------------------------ */

.dish {
	position: relative;
	width: 192px;
	height: 226px;
	border-radius: 16px;
	background-color: rgb(31, 29, 43);
	padding: 104px 24px 0 24px;
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.dish__new {
	position: absolute;
	top: -10px;
	right: -10px;
	width: 33px;
	height: 33px;
	pointer-events: none;
}
.dish__newImage {
	width: 100%;
	height: 100%;
}
.dish:hover .dish__price,
.dish:hover .dish__info {
	opacity: 0;
	visibility: hidden;
}
.dish:hover .dish__button {
	transform: translateX(-50%) scaleY(1); /* Появляется кнопка */
	opacity: 1;
	visibility: visible;
}
.dish__image {
	width: 132px;
	height: 132px;
	object-fit: cover;
	position: absolute;
	pointer-events: none;
	top: -36px;
	animation: animationImage 1s ease-in-out;
}
.dish__description {
	font-size: 14px;
	font-weight: 500;
	text-align: center;
	height: 51px;
	overflow: hidden;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	line-clamp: 3;
	-webkit-line-clamp: 3;
}
.dish__bottom {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.dish__price,
.dish__info,
.dish__button {
	transition: opacity 200ms ease-in-out;
}
.dish__price {
	font-size: 14px;
	font-weight: 400;
	padding: 8px 0 4px;
	opacity: 1;
}
.dish__info {
	color: rgb(171, 187, 194);
	font-size: 14px;
	font-weight: 400;
	opacity: 1;
}
.dish__button {
	position: absolute;
	bottom: 21px;
	left: 50%;
	transform: translateX(-50%) scaleY(0); /* Начальное состояние (скрытая) */
	transform-origin: top;
	opacity: 0;
	visibility: hidden;
	padding: 5px 11px;
	font-size: 14px;
	font-weight: 600;
	display: flex;
	align-items: center;
	justify-content: center;
}

/* ----------------------------------Dish------------------------------------------ */

/* ----------------------------------Dishes Types---------------------------------- */

.dishesTypes {
	display: flex;
	gap: 47px;
	max-width: 700px;
	padding-bottom: 13px;
	border-bottom: 1px solid rgb(57, 60, 73);
	overflow-x: scroll;
	overflow-y: hidden;
	/* overflow: visible; */
}
.dishesTypes::-webkit-scrollbar {
	width: 0;
	height: 0;
}
.dishesTypes__item {
	list-style: none;
	color: #fff;
	font-size: 15.5px;
	font-weight: 600;
	cursor: pointer;
	flex-shrink: 0;
	white-space: nowrap;
	position: relative;
	transition: color 222ms ease-in-out;
}
.dishesTypes__item:hover {
	filter: drop-shadow(0 0 3px #000);
}
.dishesTypes__item::before {
	content: '';
	position: absolute;
	bottom: -13px;
	left: 50%;
	transform: translateX(-50%);
	width: 0;
	border-bottom: 1px solid rgb(234, 124, 105);
	transition: all 222ms ease-in-out;
	z-index: 111;
}
.dishesTypes__item:hover::before {
	width: 100%;
}
.dishesTypes__item:hover {
	color: rgb(234, 124, 105);
}

.dishesTypes__itemActive {
	color: rgb(234, 124, 105);
	filter: drop-shadow(0 0 3px #000);
}
.dishesTypes__itemActive::before {
	left: 0;
	width: 100%;
	transform: translateX(0);
}

/* ----------------------------------Dishes Types---------------------------------- */

/* ----------------------------------Keyframes------------------------------------- */
@keyframes animationImage {
	0% {
		transform: rotateY(0deg);
	}
	100% {
		transform: rotateY(360deg);
	}
}

/* ----------------------------------Media Queries--------------------------------- */

/* -------------------------------------------------------------------------------- */

@media (max-width: 440px) {
	.dish__image {
		width: 115px;
		height: 115px;
	}
	.dishes__info {
		flex-direction: column;
	}
	.dishes__title {
		font-size: 17.5px;
		padding-bottom: 11px;
	}
	.dishes__wrapper {
		padding-top: 77px;
	}
	.dishesTypes {
		gap: 25px;
	}
	.dishesTypes__item {
		font-size: 14.7px;
	}
	.dishes__select {
		padding: 11px;
	}
}
@media (max-width: 550px) {
	.dish {
		width: 192px;
	}
	.dishesTypes {
		gap: 34px;
	}
	.dishes__content {
		height: initial;
	}
	.dish__button {
		bottom: 21px;
		right: 24px;
		opacity: 1;
		visibility: visible;
		padding: 5.5px;
		font-weight: 600;
		display: flex;
		align-items: center;
		justify-content: center;
		transform: translateX(0) scaleY(1);
		left: initial;
	}
	.dish__button svg {
		width: 20px;
		height: 20px;
	}
	.dish:hover .dish__button {
		transform: initial; /* Появляется кнопка */
		opacity: initial;
		visibility: initial;
	}
	.dish:hover .dish__price,
	.dish:hover .dish__info {
		opacity: initial;
		visibility: initial;
	}
	.dish__bottom {
		align-self: flex-start;
	}
}
@media (max-width: 516px) and (min-width: 440px) {
	.dish {
		width: 80%;
	}
}
@media (max-width: 440px) {
	.dish {
		width: 100%;
	}
}
@media (max-width: 724px) and (min-width: 664px) {
	.dish {
		width: 31.5%;
	}
	.dish__image {
		width: 124px;
		height: 124px;
	}
}
@media (max-width: 663px) {
	.dishes__wrapper {
		justify-content: space-evenly;
	}
}

/* ----------------------------------Media Queries--------------------------------- */
