.dishes {
	width: 100%;
	padding: 24px 0;
}
.dishes__title {
	padding-top: 25px;
	color: #fff;
	font-size: 20px;
	font-weight: 600;
}
.dishes__content {
	display: flex;
	align-items: center;
	flex-direction: column;
}
.dishes__wrapper {
	display: flex;
	flex-wrap: wrap;
	row-gap: 55px;
	column-gap: 15px;
	justify-content: space-between;
	padding-top: 75px;
	width: 100%;
	min-height: 626px;
	padding-bottom: 44px;
}
@media (max-width: 440px) {
	.dishes__info {
		flex-direction: column;
	}
	.dishes__title {
		font-size: 17.5px;
		padding-bottom: 11px;
	}
	.dishes__wrapper {
		padding-top: 77px;
	}
	.dishes__select {
		padding: 11px;
	}
}
@media (max-width: 550px) {
	.dishes__content {
		height: initial;
	}
}

@media (max-width: 663px) {
	.dishes__wrapper {
		justify-content: space-evenly;
	}
}
